body {
  margin: 0;
  font-family: "Tenor Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Tenor Sans", sans-serif;
}

.App {
  text-align: center;
}

/* -------------NAVBAR------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(107, 215, 177);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navButtons {
  padding: 8px;
}

.navImage {
  height: 4vh;
  padding: 6px;
}
.navButtons:hover,
.navImage:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.homeImage {
  height: 16vh;
  margin: 0px;
}
/* -------------NAVBAR------------- */

/* -------------CONTAINER FOR ALL BOOKS------------- */
.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.innerCard {
  height: 40vh;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
}
/* -------------CONTAINER FOR ALL BOOKS------------- */

/* -------------EACH INDIVIDUAL BOOK------------- */
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 10%;
}
.book-img {
  border-radius: 2px;
  margin-bottom: 4\vh;
  height: 220px;
  width: auto;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
.book-img:hover {
  transform: scale(1.3);
}

.bookTitleLink {
  color: rgb(73, 79, 82);
  margin: 8px 0px 0px 0px;
}

.bookPriceLink,
.bookAuthorLink {
  color: rgb(73, 79, 82);
  margin: 4px 0px 0px 0px;
}

button {
  height: 5vh;
  width: 15vh;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin: 4px;
  padding: 5px;
}
.selected {
  background-color: rgb(126, 175, 252);
  border: 1px solid rgb(126, 175, 252);
  color: white;
}
/* -------------EACH INDIVIDUAL BOOK------------- */

/* -------------FOOTER------------- */
.Footer {
  /* position: fixed; */
  min-height: 5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(107, 215, 177);
  color: white;
  text-align: center;
}
.copyright {
  margin: 0px 0px 10px 0px;
}
.names {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLinks {
  color: white;
  margin: 0px 5px;
}
/* -------------FOOTER------------- */

/* -------------SEARCH BAR------------- */
.searching {
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px 0px 60px 0px;
}
.searchBar {
  display: flex;
  align-self: center;
  text-align: center;
  padding: 14px 16px;
}
.searchBox {
  width: 70vh;
  height: 4vh;
}
.searchButton {
  height: 5vh;
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 5px;
  color: rgb(73, 79, 82);
  border: 0.5px solid rgba(255, 126, 0, 0.7);
  padding: 5px;
  margin: 6px;
}
.searchButton:hover {
  border: 0.5px solid rgba(255, 126, 0, 0.7);
  background-color: rgba(255, 126, 0, 0.7);
  color: white;
}
input {
  border-radius: 2px;
  border: black;
  margin: 5px;
  padding: 5px;
  border: 0.5px solid rgba(255, 126, 0, 0.7);
  border-radius: 0.5vh;
}
input:hover {
  border: 0.5px solid rgba(255, 126, 0, 0.7);
  background-color: rgba(255, 126, 0, 0.7);
  color: white;
}
.orangeFont {
  margin-right: 2px;
  color: rgb(255, 126, 0);
}
/* -------------SEARCH BAR------------- */
